# Ignore folders
data/
models/
config/
.obsidian/

# Ignore files
notebooks/Crawldata/credentials.json
*.pyc
/notebooks/Crawldata/dataScreen
/notebooks/Crawldata/Linkpdf
notebooks/Problems/Link.md
/OCR
credentials.json
