# Ignore folders
data/
models/
config/
.obsidian/

# Ignore files
notebooks/Crawldata/credentials.json
*.pyc
/notebooks/Crawldata/dataScreen
/notebooks/Crawldata/Linkpdf
notebooks/Problems/Link.md
/notebooks/Crawldata/data_cleaned_P1
/notebooks/Crawldata/data_cleaned_P2
/notebooks/Crawldata/data_new_raw
/notebooks/Crawldata/empty
/OCR
.vscode/settings.json
/notebooks/data_finetune/Slip_md
/notebooks/data_finetune/excel
/notebooks/data_finetune/Donedata
credentials.json
/notebooks/Crawldata/CleanGPT
